/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, content {
 	/*width:100%;*/
	z-index: 1;
	font-family: 'Open Sans', sans-serif;

}

body{

	width: 900px;
	margin: 0 auto;
	/*Above code centres the page, if you guys dont like, just delete and un comment the below
	display: block;
	width: 80%;

    min-width: 1000px;
	min-heigiht: 800px;*/
}

h2 {
	margin: 0px auto;
}


.brand {
  float: left;
  padding-right: 8px;
}



a:link, a:visited {
    color:#27b;
    text-decoration:none;
}

a:hover { text-decoration: none; }
a img { border-width:0; }

/** Header encompasses the banner for Balloon **/

header {
	display: block;
	/*height: 10%;
	width: 100%;
	*/
	margin: 0px auto;
	width: 900px;
	z-index: 3;
	font-family: 'Open Sans', sans-serif;
}

header #banner {
	float: left;
	margin-left: 5%;
	margin-top: 1%;
}

header #banner img  {
	float:left;
}

header #banner h1 {
	float: left;
	padding-top: 4%;
}

header nav {
	float: right;
	margin-right: 10%;
	margin-top: 5%;
}

header nav ul {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: block;
	position: relative;
	float: left;
}

header nav ul li ul { display: none;} 

header nav ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 5px 15px 5px 15px;
	margin-left: 1px;
	white-space: nowrap;
}

header nav li:hover ul {
	display: block;
	position: absolute;
}

header nav li:hover li {
	float: none;
	font-size: 11px;
}

header nav li:hover a { background: #E6FAFF; }

/** **********/

/** Horizontal rules with styling to separate the content, header, footer **/

hr.top {
	display: block;
	width:900px;
	margin: 0 auto;
	height:10%;
	border-color: #E6FAFF;
	background-color: #E6FAFF;
}


hr.bottom {
	display:block;
	width:900px;
	height:10%;
	margin: 0 auto;
	border-color: #E6FAFF;
	background-color: #E6FAFF;	
}

#hrpage {
	width: 100%;
	height: 10%;
	border-color: #E6FAFF;
	background-color: #E6FAFF;	
}

/** **********/

/** Main container to hold page specifics **/

#maincontainer {
	width: 900px;
	min-height: 400px;
}

#maincontainer h1 {
	margin: 0px auto;
	padding: 3%;
	width: 100px;
	color: black;
	font-weight: 600;
}


#maincontainer h2 {
	margin: 0px auto;
	padding-top: 5%;
	padding-bottom: 3%;
}

/** **********/

/** Sign up segment of introduction page **/

.signup {
	width: 400px;
	/*margin-left: 5%;*/
	float: left;
	margin-bottom: 5%;
	background-color: rgba(250, 250, 250, 0.5);
}


.signup ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.signup li {
	padding: 3px;
}

input#fname {
	width: 160px;
	height: 33px;
	float:left;
	margin-bottom: 2%;
	font-size: 20px;
}


input#avatar {
	width: 160px;
	height: 33px;
	float:left;
	margin-bottom: 2%;
	font-size: 10px;
}


input#email {
	width: 342px;
	height: 33px;
	font-size: 20px;
}

input#password {
	width: 342px;
	height: 33px;
	font-size: 20px;
}



.signup input:not([type = "submit"]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.signup input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);  
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */   
    padding: 5px 15px;  
    margin-right: 0; 
 	margin-left: auto;
    margin-top: 15px;  
    border-radius: 3px;  
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	width: 352px;
	height: 50px;
}

/** **********/

/** Edit account **/

.signin {
	float: left;
	width: 400px;
	/*margin-left: 5%;*/
	margin-bottom: 5%;
	background-color: rgba(250, 250, 250, 0.5);

}


.signin ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.signin li {
	padding: 3px;
}


.signin input:not([type = "submit"]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.signin input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);  
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */   
    padding: 5px 15px;  
    margin-right: 0; 
 	margin-left: auto;
    margin-top: 15px;  
    border-radius: 3px;  
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	width: 352px;
	height: 50px;
}

/** **********/

/** Edit account **/

#edit {
	/*margin: 0 auto;*/
	width: 500px;
	margin:0px auto;
	background-color: rgba(250, 250, 250, 0.5);
}

#edit img {
	float: right;
}


#edit ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#edit li {
	padding: 3px;
}

#edit input[type=file] {
	width: 160px;
	height: 33px;
	float:left;
	
	font-size: 10px;
}


#edit input:not([type = "submit"]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

#edit input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);  
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */   
    padding: 5px 15px;  
    margin-right: 0; 
    margin-top: 15px;  
    border-radius: 3px;  
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	width: 400px;
	height: 50px;
}

/** **********/


/** Introduction of sign up page holding images and headers **/

article.intro {
	float:left;
	width: 400px;
	margin-left: 8%;
	margin-top: 2%;
}

article.intro img {
	max-width: 70%;
	width: 60%;
}

article.intro h3 {
	float: left;
	font-weight: 600;
	margin-top: 2.5%;
	margin-left: -4%;
}

/** **********/

/** Introduction of sign up page holding images and headers **/

article.sign {
	width: 400px;
	float: left;
	margin-left: 8%;
	margin-top: 2%;
}

article.sign img {
	max-width: 70%;
	width: 380px;
}

article.sign h3 {
	float: left;
	font-weight: 600;
	margin-top: 2.5%;
	margin-left: 15%;
}

/** **********/

#home {
	width: 900px;
	margin: 0px auto;
	background-color: #E6FAFF;
}

#alluser {
	width: 900px;
	height: 600px;
	margin: 0 auto;
	background-color: #E6FAFF;
}

#alluser a {
	font-weight: 600;
	color: black;
	
}

#alluser p { padding-left: 5%; float: left; white-space: pre-line; }

#alluser img {
}

#feature {
	float:left;
	width: 115px;
	height: 210px;
	margin: 2%;
	border: 1px solid;
	background-color: #E6FAFF;
	border-color: #27b;
	border-radius: 3px;
	
}

#feature a {
	font-weight: 600;
	color: black;
	
}

#feature p { padding-left: 5%; float: left; white-space: pre-line; }

#feature img:hover {
	-webkit-transform: scale(1.1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

#grid {
	width: 600px;
	margin: 0px auto;
}

#grid2 {
	width: 600px;
	margin: 0px auto;
}


#profile {
	display: block;
	width: 1000px;
}

#profile .hide { display: none;}


#userinfo p { padding-left: 5%; }

#userinfo img {
	float: left;
	border: 1px solid;
	border-color: #27b;
	margin-left: 3%;
	background-color: #E6FAFF;
	border-radius: 10px;
}

#welcome { padding-left: 15%; }


#portfolio {
	width: 800px;
	float: left;
	margin-left: -3%;
}

#portfolio li {
	display: inline-block;
	padding: 20px;
	list-style-type: none;
	width: 200px;
}

#portfolio p {
	margin: 0 auto;
	width: 120px;
}

#portfolio img {
	
	border-radius: 0px;
	border: 0px solid;
	
}

#addphoto {
	border: 1px solid rgba(0, 0, 0, 0.3);  
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */   
    padding: 5px 15px;  
    margin-top: 15px;  
    border-radius: 3px;  
	color: black;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	width: 100px;
	height: 50px;
}

#addphoto p {
	color: black;
}

#friends {
	width: 150px;
	float: right;
	margin-top: 3%;
	margin-bottom: 30px;
	margin-right: 4%;
	border: 2px solid;
	border-color: #27b;
	border-radius: 10px;
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%);
}

#friends h3 {
	padding-left: 20px;
}

#friends ul {
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%);
}

#friends li {
	padding-left: 10px;
	list-style-type: none;
}




#news {
	margin: 0px auto;
	margin-top: 5%;
	padding: 2%;
	width: 45%;
	border: 4px solid;
	border-color: #27b;
	border-radius: 10px;
}

#static {
	margin-left: 5%;
	margin-top: 2%;
	width: 850px;
	height: 400px;
	border: 4px solid;
	border-color: #27b;
	background-color: #E6FAFF;
	border-radius: 10px;
}

#static img { float: left; width: 400px; }

#static a:hover {
	width: 100%;
	text-decoration: underline;
}

#static h2 { padding-left: 20px; }
#static p { padding-left: 30px;}


#info {
	width: 300px;
	margin-bottom: 2%;
	padding: 4%;
	float: left;
}

#contact {
	margin: 0px auto;
	margin-top: 4%;
	padding: 2%;
	width: 50%;
	border: 4px solid;
	border-color: #27b;
	border-radius: 10px;
}

#contact input {
    width:90%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

#contact button[type="submit"] {
	border: 1px solid rgba(0, 0, 0, 0.3);  
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */   
    padding: 5px 15px;  
   	margin-left: 9%;
	margin-top: 2%;
    border-radius: 3px;  
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	width: 400px;
	height: 50px;
}

#sitemap {
	margin: 0px auto;
	margin-top: 4%;
	padding: 2%;
	width: 50%;
	border: 4px solid;
	border-color: #27b;
	border-radius: 10px;	
}

#sitemap ul { list-style-type: none; }
#sitemap b { color: Black; }
#sitemap a:visited { text-decoration: none; }

#size {
    background-color: #E6FAFF; 
    margin-left: 5%;
}

#flash_notice, #flash_alert {

}
#flash_notice {
	float:right;
	height: 25px;
  	background-color: #CFC;
 	border: solid 1px #6C6;
}
#flash_alert {
	height: 25px;
	float:right;
   	background-color: #FCC;
  	border: solid 1px #C66;
}

/** Footer **/

footer {
	display:block;
	width: 100%;
	height: 10%;
	margin: 4% 30%;
	font-size: 12px

}

footer #footercontainer { margin: 0 auto; }

footer a {
	font-weight: 400;
	color:#27b;
}

footer.ftitle { font-weight: bold;
}
footer b { color: Black; }
footer ul { list-style-type: none; }
footer #left { float:left; }
footer #right { float: left; }
footer #mid { float: left; }
footer #last { float: left; }
