
<article id="static">
  <div id="info">
    <h2><span>Learn more about Balloon and its developers:</span></h2>
	<h3><%= link_to "History of Balloon", history_path %></h3>
	<h3><a href="about.html">Developer's Blog - <span style="color: #27b;">Coming soon</span></a></h3>
  </div>
   <%= image_tag("display.png", :alt => "Introductory Image") %>
</article>