<h1>History</h1>
<article id="news">
  <header>
    <h2>A trip down memory lane...</h2>
  </header>
  <p>The <b>Balloon</b> image hosting website was founded in 2013 by Alistair Gillespie, Josh La Verghetta, Callum Ingley and Dylan Nangle from UWA: <a href="mailto:20262247@student.email.uwa.edu.au">20262247@student.email.uwa.edu.au</a></p>
  <img src="images/history.jpg" alt="Alistair"/>
  <footer>
    <p><small>Balloon Develpment Crew</small></p>
  </footer>
</article>