
<article id="static">
  <div id="info">
    <h2>Need support? Look below:</h2>
	<h3><a href="terms.html">Terms and Conditions</a></h3>
	<h3><a href="contact.html">Contact Us</a></h3>
  </div>
 <%= image_tag("display.png", :alt => "Introductory Image") %>
</article>