<h1>Support</h1>
<article id="featured">
  <header>
    <h2>Need support? Look below:</h2>
	<h3><a href="terms.html">Terms and Conditions</a></h3>
	<h3><a href="contact.html">Contact Us</a></h3>
  </header>
  <img src="images/display2.png" alt="Balloon Logo 2"/>
  <footer>
    <p><small>Balloon Develpment Crew</small></p>
  </footer>
</article>