<h1>Featured</h1>
<% @users.each do |user| %>
<div id="feature">
	<%= image_tag(user.avatar_url(:thumb)) if user.avatar_url %>
  <p>User: <%=link_to user.name, user %>
      Photos: <%= user.photos.size %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
	</p>
</div>  
<% end %>