<h1>Sitemap</h1>
<article id="sitemap">
  	<ul>
  		<li><b>Balloon</b></li>
  		<li><%= link_to "News", posts_path, :class => 'brand' %></li>
  		<li><a href="featured.html">Featured</a></li>
  	</ul>	
  	<ul>
  		<li><a href="about.html"><b>About Us</b></a></li>
  		<li><a href="history.html">History</a></li>
	</ul>
	<ul>
  		<li><a href="support.html"><b>Support</b></a></li>
  		<li><a href="terms.html">Privacy & Terms</a></li>
  		<li><a href="contact.html">Contact Us</a></li>
  	</ul>
  	<ul>
  		<li><a href="http://www.facebook.com/"><%= image_tag("facebook-32-black.png", :alt => "Facebook - logo") %></a></li>
  		<li><a href="https://twitter.com/"><%= image_tag("twitter-32-black.png", :alt => "Twitter - logo") %></a></li>
	</ul>	 
<footer>
    <p><small>Balloon Develpment Crew</small></p>
</footer>
</article>