<h1>Terms</h1>
<article id="static">

    <h2>Just a few things to remembers...</h2>
  
  <p>By accessing our content, you expressly agree to use Balloon at your own risk. Balloon, its owners, its contributors, its affiliates and other related parties do not warrant the accuracy, completeness or reliability of any content, nor do they warrant the error-free, secure or uninterrupted delivery of service, and no oral or written information provided by the above parties shall enact such a warranty. Under no circumstances will ImageComics.com be liable for direct, indirect or incidental damages or loss or injury resulting from the use of our site, including, but not limited to, the downloading of content, errors, interruptions, delays in operation or transmission, omissions, deletion of files or e-mail, defects, viruses, theft, destruction, or unauthorized access to Balloon's records or services. </p>
  <footer>
    <p><small>Balloon Develpment Crew</small></p>
  </footer>
</article>