
<h3>User</h3>
<% @users.each do |user| %>
  <div>
	  <h2><%= link_to user.name, user %></h2>
    Photos: <%= user.photos.size %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
  </div>
<%end %>  


